.card-swap-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;

  perspective: 900px;
  overflow: visible;
}

/* Card size */
.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
  backface-visibility: hidden;

  width: 400px;
  height: 450px;
  border-radius: 12px;
  border: 1px solid #fff;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;   /* shows full image without cutting */
  object-position: center;
  background: white;     /* optional, helps with PNG transparency */
}



@media (max-width: 768px) {
  .card-swap-container {
    transform: scale(0.75) translate(25%, 25%);
  }
}

@media (max-width: 480px) {
  .card-swap-container {
    transform: scale(0.55) translate(25%, 25%);
  }
}
